---
import '../../styles/global.css';
import '../../styles/hvem-er-leesah.css';
import Header from '../../components/Header/Header.astro';
import { Image } from 'astro:assets';
import tania from '../../assets/tania.png';
import oydis from '../../assets/øydis.png';
import helene from '../../assets/helene.png';
import kyrre from '../../assets/kyrre.png';
import emil from '../../assets/emil.png'
---

<html lang="no">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/cat.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Leesah Game</title>
</head>
<body>
<main>
    <Header tittel="livet er en strøm av hendelser" />
    <div class="flex-gap-container">
        <p>
            Leesah Game er et produkt av det sterke fokuset på kompetansedeling i Nav IT. Leesah Game er
            organisert som en faggruppe, noe som betyr at annenhver torsdag++ er satt av til å jobbe med Leesah
            Game. Leesah Game gjennomføres som kurs internt i Nav IT, på universiteter, konferanser og andre
            etater i offentlig sektor. Alt i betalt arbeidstid! <br /><br /> Leesah "Gang" består av følgende medlemmer:
        </p>
        <div class="person">
            <div>
                <h3>Tania Holst</h3>
                <p>Tania er frontendutvikler i Team Personbruker og jobber med å utvikle nav.no. Hun har jobbet i Nav siden 2019 og stortrives som utvikler her. Hun ranter om at folk må <a href="https://vimeo.com/861732616">legge vekk telefonene sine</a>, og for øyeblikket tar hun på seg nye utfordringer som å være Security Champion for nav.no.</p>
                <p>Ellers er det strikking det går i, og et hårete mål om å klare så mange Escape Rooms som mulig før pensjonsalder.</p>
            </div>
            <Image src={tania} height="300" alt="Bilde av Tania"/>
        </div>

        <div class="person">
            <div>
                <h3>Øydis Kind Refsum</h3>
                <p>Øydis er backendutvikler i Team Speilvendt og jobber med å utvikle saksbehandlingsløsningen for sykepenger. Øydis startet som sommerstudent i Nav i 2021 og som fast ansatt i 2022.</p>
                <p>Hun trives godt i sosiale sammenkomster og finner stort sett at kalenderen er stappfull, akkurat som hun liker det.</p>
            </div>
            <Image src={oydis} height="300" alt="Bilde av Øydis"/>
        </div>

        <div class="person">
            <div>
                <h3>Helene Arnesen</h3>
                <p>Helene er utvikler i team sykemelding i produktområde helse</p>
            </div>
            <Image src={helene} height="300" alt="Bilde av Helene"/>
        </div>

        <div class="person">
            <div>
                <h3>Kyrre Havik</h3>
                <p>Kyrre startet i Nav som plattformutvikler i 2018. Han er utvikler i <a href="https://nais.io/">Nais</a> og bygger applikasjonsplattform basert på Kubernetes i skyen!</p>
                <p>I Leesah prøver Kyrre å selge inn programmeringsspråket Go. Ellers er han over gjennomsnittlig interessert i <a href="https://kyrremann.no/keebs/">tastaturer</a>, og brettspill.</p>
            </div>
            <Image src={kyrre} height="300" alt="Bilde av Kyrre"/>
        </div>

        <div class="person">
            <div>
                <h3>Emil Elton Nilsen</h3>
                <p>Emil er utvikler i etterlatte i produktområde pensjon</p>
            </div>
            <Image src={emil} height="300" alt="Bilde av Emil"/>
        </div>
    </div>
</main>
</body>
</html>
