---
import '../../styles/global.css'
import './index.css'
import Header from '../../components/Header/Header.astro'

import tania from '../../assets/tania.png'
import oydis from '../../assets/øydis.png'
import helene from '../../assets/helene.png'
import kyrre from '../../assets/kyrre.png'
import emil from '../../assets/emil.png'
---

<html lang="no">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/cat.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Leesah Game</title>
    </head>
    <body>
        <main>
            <Header tittel="livet er en strøm av hendelser" />
            <div class="flex-gap-container">
                <p>
                    Leesah Game er et produkt av det sterke fokuset på kompetansedeling i Nav IT. Leesah Game er
                    organisert som en faggruppe, noe som betyr at annenhver torsdag++ er satt av til å jobbe med Leesah
                    Game. Leesah Game gjennomføres som kurs internt i Nav IT, på universiteter, konferanser og andre
                    etater i offentlig sektor. Alt i betalt arbeidstid! <br /><br /> Leesah "Gang" består av følgende medlemmer:
                </p>
                <div class="person">
                    <div>
                        <h3>Tania Holst</h3>
                        <p>Tania er utvikler i "team personbruker" og jobber med nav.no</p>
                    </div>
                    <img srcset={`${tania.src} 2x`} />
                </div>

                <div class="person">
                    <div>
                        <h3>Øydis Kind Refsum</h3>
                        <p>Øydis er utvikler i speilvendt i produktområde helse</p>
                    </div>
                    <img srcset={`${oydis.src} 2x`} />
                </div>

                <div class="person">
                    <div>
                        <h3>Helene Arnesen</h3>
                        <p>Helene er utvikler i team sykemelding i produktområde helse</p>
                    </div>
                    <img srcset={`${helene.src} 2x`} />
                </div>

                <div class="person">
                    <div>
                        <h3>Kyrre Havik</h3>
                        <p>Kyrre er utvikler i NAIS i tjenesteplatform team</p>
                    </div>
                    <img srcset={`${kyrre.src} 2x`} />
                </div>

                <div class="person">
                    <div>
                        <h3>Emil Elton Nilsen</h3>
                        <p>Emil er utvikler i etterlatte i produktområde pensjon</p>
                    </div>
                    <img srcset={`${emil.src} 2x`} />
                </div>
            </div>
        </main>
    </body>
</html>
