---
import '../styles/global.css'
import '../styles/index.css'
import Header from '../components/Header/Header.astro'
import leaderboardImg from '../assets/leaderboard.png'
import catSleepingGif from '../assets/cat_sleeping.gif'
import spinningFoxGif from '../assets/spinning-fox.gif'
import megamanGif from '../assets/megaman.gif'
import { getCollection } from 'astro:content'
import LanguagePicker from '../components/LanguagePicker.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

let oppgaverSider = await getCollection('oppgaver')
// Flytter lagregistrering til å være først i listen
oppgaverSider.sort((side) => (side.data.title === 'lagregistrering' ? -1 : 0))

const oppsettSider = await getCollection('oppsett')
---

<html lang={`${lang}`}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/cat.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Leesah Game</title>
    </head>
    <body>
        <main>
            <Header tittel="Livet er en strøm av hendelser" />
            <div class="ingress-container">
                <div class="text-container">
                    <p>
                        Leesah Game er et hendelsedrevet applikasjonsutviklingspill som utfordrer spillerne til å bygge
                        en hendelsedrevet applikasjon. Applikasjonen håndterer forskjellige typer oppgaver som den
                        mottar som hendelser på en Kafka-basert hendelsestrøm. Oppgavene varierer fra veldig enkle til
                        mer komplekse.
                    </p>
                    <img class="cat-sleeping" src={catSleepingGif.src} alt={t('alt.sleeping_cat')} />
                </div>
                <img src={leaderboardImg.src} alt={t('alt.leaderboard')} />
            </div>

            <p>
                Nav bygger i stor grad alle nye systemer som hendelsedrevet, og formålet med Leesah Game er at spillerne
                skal få en bedre forståelse for hvordan man bygger hendelsedrevne applikasjoner. Man får også et
                innblikk i fordeler og ulemper med slike systemer. Dessuten er det innmari moro!
            </p>

            <div>
                <h2>Kom i gang</h2>
                <p>
                    Vi har to versjoner av Leesah Game, en hvor man lærer å deploye en applikasjon på Nais-plattformen,
                    og en hvor man kjører lokalt. Disse to forskjellige versjonene har også to forskjellige kodebaser.
                </p>
                <ul>
                    {
                        oppsettSider.map((side) => (
                            <li>
                                <a href={`/oppsett/${side.slug}/`}>{side.data.title}</a>
                            </li>
                        ))
                    }
                </ul>
            </div>

            <div>
                <h2>Dokumentasjon om oppgavene</h2>
                <p>
                    Oppgavene du kan møte i Leesah Game er som følger, og de kommer ikke nødvendigvis i rekkefølgen til
                    listen.
                </p>
                <ul>
                    {
                        oppgaverSider.filter((side) => !side.slug.includes('nais')).map((side) =>
                            side.data.title === 'lagregistrering' ? (
                                <li>
                                    <a href={`/oppgaver/${side.slug}/`}>{side.data.title}</a> (Første oppgaven som
                                    alltid må gjøres før man kan løse andre oppgaver)
                                </li>
                            ) : (
                                <li>
                                    <a href={`/oppgaver/${side.slug}/`}>{side.data.title}</a>
                                </li>
                            )
                        )
                    }
                </ul>
                <p>NAIS spesifike oppgaver:</p>
                <ul>
                    {
                        oppgaverSider.filter((side) => side.slug.includes('nais/')).map((side) => (
                            <li>
                                <a href={`/oppgaver/${side.slug}/`}>{side.data.title}</a>
                            </li>
                        ))
                    }
                </ul>
            </div>

            <div class="lenkemeny">
                <a class="lenkemeny-element" href={`/hvem-er-leesah`}>
                    <img src={spinningFoxGif.src} height="100" alt={t('alt.spinning_fox')} />
                    <h2 class="lenkemeny-element-heading">{t('nav.about')} --></h2>
                </a>

                <a class="lenkemeny-element" href={`/leesah-kurs`}>
                    <img src={megamanGif.src} height="100" alt={t('alt.megaman')} />
                    <h2 class="lenkemeny-element-heading">{t('nav.play')} --></h2>
                </a>
            </div>
        </main>
        <footer>
            <LanguagePicker />
        </footer>
    </body>
</html>
