---
import '../styles/global.css'
import '../styles/index.css'
import Header from '../components/Header/Header.astro'
import spinningFoxGif from '../assets/spinning-fox.gif'
import megamanGif from '../assets/megaman.gif'
import poddyGif from '../assets/poddy.gif'
import { getCollection } from 'astro:content'
import LanguagePicker from '../components/LanguagePicker.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

let oppgaverSider = await getCollection('oppgaver')
// Flytter lagregistrering til å være først i listen
oppgaverSider.sort((side) => (side.data.title === 'lagregistrering' ? -1 : 0))
---

<html lang={`${lang}`}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/cat.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Leesah Game</title>
    </head>
    <body>
        <main>
            <Header tittel="Livet er en strøm av hendelser" />
            <p>Blablabla</p>
            <div class="lenkemeny">

                <a class="lenkemeny-element" href={`/kafka`}>
                    <img src={megamanGif.src} height="100" alt={t('alt.megaman')} />
                    <h2 class="lenkemeny-element-heading">{t('nav.leesah-game')} --></h2>
                </a>

                <a class="lenkemeny-element" href={`/pleesah`}>
                    <img src={poddyGif.src} height="100" alt={t('alt.poddy_gif')} />
                    <h2 class="lenkemeny-element-heading">{t('nav.pleesah-game')} --></h2>
                </a>

                <br/>
                <a class="lenkemeny-element" href={`/hvem-er-leesah`}>
                    <img src={spinningFoxGif.src} height="100" alt={t('alt.spinning_fox')} />
                    <h2 class="lenkemeny-element-heading">{t('nav.about')} --></h2>
                </a>

            </div>
        </main>
        <footer>
            <LanguagePicker />
        </footer>
    </body>
</html>
