---
import '../styles/global.css';
import '../styles/index.css';
import Header from '../components/Header/Header.astro';
import { Image } from 'astro:assets';
import leaderboardImg from '../assets/leaderboard.png';
import catSleepingGif from '../assets/cat_sleeping.gif';
import spinningFoxGif from '../assets/spinning-fox.gif';
import { getCollection } from 'astro:content';

let oppgaverSider = await getCollection('oppgaver')
// Flytter lagregistrering til å være først i listen
oppgaverSider.sort((side) => (side.data.title === 'lagregistrering' ? -1 : 0))

const naisOppgaverSider = [...oppgaverSider].filter((side) => side.slug.includes('nais/'))

// Fjerne nais oppgaver fra de vanlige oppgavene
oppgaverSider = [...oppgaverSider.filter((side) => !side.slug.includes('nais'))]

const oppsettSider = await getCollection('oppsett')
---

<html lang="no">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/cat.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Leesah Game</title>
	</head>
	<body>
		<main>
			<Header tittel="livet er en strøm av hendelser" />
			<div class="ingress-container">
				<div class="text-container">
					<p>
						Leesah Game er et hendelsedrevet applikasjonsutviklingspill som utfordrer spillerne til å bygge
						en hendelsedrevet applikasjon. Applikasjonen håndterer forskjellige typer oppgaver som den
						mottar som hendelser på en Kafka-basert hendelsestrøm. Oppgavene varierer fra veldig enkle til
						mer komplekse.
					</p>
					<Image class="cat-sleeping" src={catSleepingGif} alt="Gif av en katt som sover" />
				</div>
				<Image src={leaderboardImg} alt="Illustrasjon over leaderboardet i et spill av leesah." />
			</div>
			<p>
				NAV bygger i stor grad alle nye systemer som hendelsedrevet, og formålet med Leesah Game er at spillerne
				skal få en bedre forståelse for hvordan man bygger hendelsedrevne applikasjoner. Man får også et
				innblikk i fordeler og ulemper med slike systemer. Dessuten er det innmari moro!
			</p>

			<div>
				<h2>Kom i gang</h2>
				<p>
					Vi har to versjoner av Leesah Game, en hvor man lærer å deploye en applikasjon på Nais-plattformen,
					og en hvor man kjører lokalt. Disse to forskjellige versjonene har også to forskjellige kodebaser.
				</p>
				<ul>
					{
						oppsettSider.map((side) => (
							<li>
								<a href={`/oppsett/${side.slug}/`}>{side.data.title}</a>
							</li>
						))
					}
				</ul>
			</div>
			<div>
				<h2>Dokumentasjon om oppgavene</h2>
				<p>
					Oppgavene du kan møte i Leesah Game er som følger, og de kommer ikke nødvendigvis i rekkefølgen til
					listen.
				</p>
				<ul>
					{
						oppgaverSider.map((side) =>
							side.data.title === 'lagregistrering' ? (
								<li>
									<a href={`/oppgaver/${side.slug}/`}>{side.data.title}</a> (Første oppgaven som
									alltid må gjøres før man kan løse andre oppgaver)
								</li>
							) : (
								<li>
									<a href={`/oppgaver/${side.slug}/`}>{side.data.title}</a>
								</li>
							)
						)
					}
				</ul>
				<p>NAIS spesifike oppgaver:</p>
				<ul>
					{
						naisOppgaverSider.map((side) => (
							<li>
								<a href={`/oppgaver/${side.slug}/`}>{side.data.title}</a>
							</li>
						))
					}
				</ul>
			</div>
			<a class="hvem-er-leesah-container" href="/hvem-er-leesah">
				<Image src={spinningFoxGif} height="100" alt="En rødrev som løper i sirkel" />
				<h2 class="hvem-er-leesah-heading">Hvem er leesah? --></h2>
			</a>
		</main>
	</body>
</html>
