---
//import "../styles/globals.css";
import "./index.css";
import Header from "../components/Header/Header.astro";
import leaderboardImg from "./leaderboard.png";
import catSleepingGif from "./cat_sleeping.gif";
import { getCollection } from 'astro:content';

const oppgaverSider = await getCollection('oppsett')
// Flytter team-registration til å være først i listen
oppgaverSider.sort(side => side.data.title === 'team-registration' ? -1 : 0 )

const naisOppgaverSider = await getCollection('naisOppgaver')
const oppsettSider = await getCollection('oppsett')
---

<style is:global>
	@font-face {
		font-family: "Pixellet";
		src: url("../fonts/pixellet.ttf") format("truetype");
	}

	@font-face {
		font-family: "rainyhearts";
		src: url("../fonts/rainyhearts.ttf") format("truetype");
	}

	body {
		background-color: #5b37a3;
		margin: 0;
	}

	h3 {
		color: #D08770;
		font-feature-settings: 'liga' off, 'clig' off;
		font-family: rainyhearts;
		font-size: 50px;
		font-style: normal;
		font-weight: 500;
		line-height: 40px;
		letter-spacing: -0.48px;
		text-decoration-line: underline;
		text-decoration-thickness: 3px;
		text-underline-offset: 6px;
	}

	p {
		color: #E0FFFF;
		font-feature-settings: 'liga' off, 'clig' off;
		font-family: rainyhearts;
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: 26px;
	}

	li::marker {
		content: ">> ";
		color: #D08770;
		font-feature-settings: 'liga' off, 'clig' off;
		font-family: rainyhearts;
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: 26px;
	}

	li {
		color: #E0FFFF;
		font-feature-settings: 'liga' off, 'clig' off;
		font-family: rainyhearts;
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: 26px;
	}

	li:not(:last-child) {
		margin-bottom: 0.2rem;
	}

	a {
		color: #FFF;
		font-feature-settings: 'liga' off, 'clig' off;
		font-family: rainyhearts;
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Leesah Game</title>
	</head>
	<body>
		<main>
			<Header tittel="livet er en strøm av hendelser" />
			<div class="ingress-container">
				<div class="text-container">
					<p>
						Leesah Game er et hendelsedrevet applikasjonsutviklingspill
						som utfordrer spillerne til å bygge en hendelsedrevet
						applikasjon. Applikasjonen håndterer forskjellige typer
						oppgaver som den mottar som hendelser på en Kafka-basert
						hendelsestrøm. Oppgavene varierer fra veldig enkle til mer
						komplekse.
					</p>
					<img class="cat-sleeping" src={catSleepingGif.src} alt="Gif av en katt som sover" />
				</div>
				<img
					src={leaderboardImg.src}
					alt="Illustrasjon over leaderboardet i et spill av leesah."
				/>
				<p>
					NAV bygger i stor grad alle nye systemer som hendelsedrevet, og
					formålet med Leesah Game er at spillerne skal få en bedre forståelse
					for hvordan man bygger hendelsedrevne applikasjoner. Man får også et
					innblikk i fordeler og ulemper med slike systemer. Dessuten er det
					innmari moro!
				</p>
			</div>

			<div>
				<h3>Kom i gang</h3>
				<p>
					Vi har to versjoner av Leesah Game, en hvor man lærer å deploye en
					applikasjon på Nais-plattformen, og en hvor man kjører lokalt. Disse
					to forskjellige versjonene har også to forskjellige kodebaser.
				</p>
				<ul>
					{oppsettSider.map(side => <li><a href={`/oppsett/${side.slug}`}>{side.data.title}</a></li>)}
				</ul>
			</div>
			<div>
				<h3>Dokumentasjon om oppgavene</h3>
				<p>
					Oppgavene du kan møte i Leesah Game er som følger, og de kommer ikke
					nødvendigvis i rekkefølgen til listen.
				</p>
				<ul>
					{oppgaverSider.map(side => side.data.title === 'team-registration' ? (
						<li>
							<a href={`/oppgaver/${side.slug}`}>{side.data.title}</a> (Første oppgaven som alltid må
							gjøres før man kan løse andre oppgaver)
						</li>
					) : (
						<li>
							<a href={`/oppgaver/${side.slug}`}>{side.data.title}</a>
						</li>
					))}
				</ul>
				<p>NAIS spesifike oppgaver:</p>
				<ul>
					{naisOppgaverSider.map(side => <li><a href={`/oppgaver/nais/${side.slug}`}>{side.data.title}</a></li>)}
				</ul>
			</div>
		</main>
	</body>
</html>
